.outer-box{
    border: 2px solid green;
    margin: 5px;
    border-radius: 6px;
}

h1{
    font-family: monospace,'bold';
    
}

li{
    font-family: monospace;
}

li:hover{
    color: maroon;
    font-size: 20px;
    cursor: pointer;
}

button{
    background-color: green;
    color: white;
    border: 2px solid green;
    border-radius: 6px;
 }

.notes{
    font-family: monospace;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: white;
}

h5{
    font-family: monospace;
}